n8n-workflows-export.json
[{"updatedAt":"2026-04-16T15:05:49.003Z","createdAt":"2026-03-06T10:34:32.468Z","id":"TWqHxvsNn7CXOex5","name":"My workflow","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"match","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-592,-176],"id":"79804149-12dd-4cd6-a728-e8395fd22fa5","name":"Webhook","webhookId":"b583f434-4643-4265-9402-683072bb2ad4"},{"parameters":{"respondWith":"json","responseBody":"={{$json}}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[320,-176],"id":"fc68c6da-c954-412f-b815-f1eeb41761e4","name":"Respond to Webhook"},{"parameters":{"assignments":{"assignments":[{"id":"023de60e-7490-4d8b-89b9-b5275c2ac671","name":"assistant_message","value":"hello from n8n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-144,-176],"id":"ec380956-a374-40db-8e68-49e21a686971","name":"Edit Fields"}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Respond to Webhook":{"main":[[]]},"Edit Fields":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"096c4147-4f5c-4286-9bc3-5d38ed2d4307","activeVersionId":"096c4147-4f5c-4286-9bc3-5d38ed2d4307","versionCounter":61,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-03-06T10:34:32.474Z","createdAt":"2026-03-06T10:34:32.474Z","role":"workflow:owner","workflowId":"TWqHxvsNn7CXOex5","projectId":"n6BZKVzEfBocv2ph","project":{"updatedAt":"2026-03-06T10:24:30.356Z","createdAt":"2026-03-06T10:24:05.897Z","id":"n6BZKVzEfBocv2ph","name":"טל taljor123@gmail.com <taljor123@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"df64be7b-e435-4883-9109-d4f4ebf3fd7f"}}],"versionMetadata":{"name":"Version 096c4147","description":""}}]